name: Deploy FPS Game to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Repository ophalen
        uses: actions/checkout@v4

      - name: GitHub Pages configureren
        uses: actions/configure-pages@v5

      - name: Bestanden uploaden
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

      - name: Deploy naar GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
